/* #00-Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');
/* #01-RESETS----- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	/* default for this project as all titles are regular */
	font-weight: 400;
}

img,
picture {
	max-width: 100%;
	display: block;
}
/* remove animations for people who've turned them off thanks to kievn powel */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* #02-CUSTOM PROPERTIES----- */
:root {
	/* reset default font size to 10px */
	font-size: 62.5%;
	/* #02-01-colors--------- */
	--drark: 230, 35%, 7%;
	--accent: 231, 77%, 90%;
	--white: 0, 0%, 100%;
	/* #02-02-font-sizes */
	--fs-h1: 15rem;
	--fs-h2: 10rem;
	--fs-h3: 5.6rem;
	--fs-h4: 3.2rem;
	--fs-h5: 2.8rem;
	--fs-s-h1: 2.8rem;
	--fs-s-h2: 1.4rem;
	--fs-nav: 1.6rem;
	--fs-text: 1.8rem;
	--fs-btn-large: 3.2rem;
	/* #02-03-Font-Family */
	--ff-titles: 'Bellefair', serif;
	--ff-cond: 'Barlow Condensed', sans-serif;
	--ff-normal: 'Barlow', sans-serif;
	/* #02-04-letter spacing */
	--char-sp-h5: 4.75px;
	--char-sp-s-h5: 2.35px;
	--char-sp-nav: 2.7px;
	--char-sp-btn-large: 2px;
}

/* #03-Body Setup  */

body {
	/* reset to body */
	margin: 0;
	padding: 0;
	/* colors */
	background-color: hsl(var(--drark));
	color: hsl(var(--white));
	/* fonts */
	font-family: var(--ff-normal);
	font-size: 1.6rem;
	line-height: 1.5;
}

/* #04-Utilty Classes */

/* #04-01- Layout Utility */

.flex {
	display: flex;
	gap: var(--gab, 1.6rem);
}

.container {
	max-width: 120.8rem;
	margin: 0 auto;
}
/* #04-02- Colors */

.bg-dark {
	background-color: hsl(var(--drark));
}

.bg-accent {
	background-color: hsl(var(--accent));
}

.bg-white {
	background-color: hsl(var(--white));
}

.txt-dark {
	color: hsl(var(--drark));
}
.txt-accent {
	color: hsl(var(--accent));
}
.txt-white {
	color: hsl(var(--white));
}

/* #04-03-Typography */

.numbered-title {
	font-size: var(--fs-h5);
	font-family: var(--ff-cond);
	text-transform: uppercase;
	letter-spacing: var(--char-sp-h5);
	margin-bottom: 2em;
}
.numbered-title span {
	font-weight: 700;
	color: hsla(var(--white), 0.25);
	margin-right: 0.5em;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
	font-family: var(--ff-titles);
	line-height: 1.1;
}
.heading-1 {
	font-size: var(--fs-h1);
}
.heading-2 {
	font-size: var(--fs-h2);
}
.heading-3 {
	font-size: var(--fs-h3);
}
.heading-4 {
	font-size: var(--fs-h4);
}
.heading-5 {
	font-size: var(--fs-h5);
	font-family: var(--ff-titles);
	line-height: 1.1;
}

.subheading-1 {
	font-family: var(--ff-normal);
	font-size: var(--fs-s-h1);
}

.subheading-2 {
	font-family: var(--ff-cond);
	font-size: var(--fs-s-h2);
	letter-spacing: var(--char-sp-s-h5);
}

.nav-text {
	font-family: var(--ff-cond);
	font-size: var(--fs-nav);
	letter-spacing: var(--char-sp-nav);
}
/* #04-04-spaces */

.flow > * + * {
	margin-top: var(--flow-gap, 1.4rem);
}

/* #05-COMPONENTS */
/* #05-01 BUTTONS */

.btn-large {
	color: hsl(var(--drark));
	background-color: hsl(var(--white));
	text-decoration: none;
	font-family: var(--ff-titles);
	font-size: var(--fs-btn-large);
	letter-spacing: var(--char-sp-btn-large);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 27.4rem;
	height: 27.4rem;
	position: relative;
}

.btn-large::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	transition: all 0.5s ease;
	transform: scale(1);
	opacity: 0;
	background-color: hsla(var(--white), 0.2);
}

.btn-large:hover::after,
.btn-large:focus::after {
	opacity: 1;
	transform: scale(1.5);
}
