/* #00-Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');
/* #01-RESETS----- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	/* default for this project as all titles are regular */
	font-weight: 400;
}

img,
picture {
	max-width: 100%;
	display: block;
}
/* remove animations for people who've turned them off thanks to kievn powel */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* #02-CUSTOM PROPERTIES----- */
:root {
	/* reset default font size to 10px */
	font-size: 62.5%;
	/* #02-01-colors--------- */
	--dark: 230, 35%, 7%;
	--accent: 231, 77%, 90%;
	--white: 0, 0%, 100%;
	/* #02-02-font-sizes */
	--fs-h1: 8rem;
	--fs-h2: 10rem;
	--fs-h3: 5.6rem;
	--fs-h4: 3.2rem;
	--fs-h5: 2.8rem;
	--fs-s-h1: 2.8rem;
	--fs-s-h2: 1.6rem;
	--fs-nav: 1.6rem;
	--fs-text: 1.5rem;
	--fs-btn-large: 2rem;
	/* #02-03-Font-Family */
	--ff-titles: 'Bellefair', serif;
	--ff-cond: 'Barlow Condensed', sans-serif;
	--ff-normal: 'Barlow', sans-serif;
	/* #02-04-letter spacing */
	--char-sp-h5: 4.75px;
	--char-sp-s-h2: 2.7px;
	--char-sp-s-h5: 2.35px;
	--char-sp-nav: 2.7px;
	--char-sp-btn-large: 2px;
}

@media (min-width: 35em) {
	:root {
		/* #02-02-font-sizes */
		--fs-h1: 15rem;
		--fs-s-h2: 2rem;
		--fs-text: 1.6rem;
		--fs-btn-large: 3.2rem;

		/* #02-04-letter spacing */
		--char-sp-s-h2: 3.38px;
	}
}

@media (min-width: 45em) {
	:root {
		/* #02-02-font-sizes */
		--fs-s-h2: 2.8rem;
		--fs-text: 1.8rem;

		/* #02-04-letter spacing */
		--char-sp-s-h2: 4.72px;
	}
}
/* #03-Body Setup  */

body {
	/* reset to body */
	margin: 0;
	padding: 0;
	/* colors */
	background-color: hsl(var(--dark));
	color: hsl(var(--white));
	/* fonts */
	font-family: var(--ff-normal);
	font-size: var(--fs-text);
	line-height: 1.6;
	min-height: 100vh;
}

/* #04-Utilty Classes */

/* #04-01- Layout Utility */

.flex {
	display: flex;
	gap: var(--gap, 1.6rem);
}

.container {
	width: 90%;
	max-width: 120.8rem;
	margin: 0 auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}
/* #04-02- Colors */

.bg-dark {
	background-color: hsl(var(--dark));
}

.bg-accent {
	background-color: hsl(var(--accent));
}

.bg-white {
	background-color: hsl(var(--white));
}

.txt-dark {
	color: hsl(var(--dark));
}
.txt-accent {
	color: hsl(var(--accent));
}
.txt-white {
	color: hsl(var(--white));
}

/* #04-03-Typography */

.numbered-title {
	font-size: var(--fs-h5);
	font-family: var(--ff-cond);
	text-transform: uppercase;
	letter-spacing: var(--char-sp-h5);
	margin-bottom: 2em;
}
.numbered-title span {
	font-weight: 700;
	color: hsla(var(--white), 0.25);
	margin-right: 0.5em;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
	font-family: var(--ff-titles);
	line-height: 1.1;
	text-transform: uppercase;
}
.heading-1 {
	font-size: var(--fs-h1);
	letter-spacing: 0;
}
.heading-2 {
	font-size: var(--fs-h2);
}
.heading-3 {
	font-size: var(--fs-h3);
}
.heading-4 {
	font-size: var(--fs-h4);
}
.heading-5 {
	font-size: var(--fs-h5);
	font-family: var(--ff-titles);
	line-height: 1.1;
}

.subheading-1 {
	font-family: var(--ff-normal);
	font-size: var(--fs-s-h1);
}

.subheading-2 {
	font-family: var(--ff-cond);
	font-size: var(--fs-s-h2);
	letter-spacing: var(--char-sp-s-h2);
	text-transform: uppercase;
}

.nav-text {
	font-family: var(--ff-cond);
	font-size: var(--fs-nav);
	letter-spacing: var(--char-sp-nav);
}
/* #04-04-spaces */

.flow > * + * {
	margin-top: var(--flow-gap, 1.4rem);
}

.text-align-center {
	text-align: center;
}

/* #05-COMPONENTS */
/* #05-01 BUTTONS */

.btn-large {
	color: hsl(var(--dark));
	background-color: hsl(var(--white));
	text-decoration: none;
	font-family: var(--ff-titles);
	font-size: var(--fs-btn-large);
	letter-spacing: var(--char-sp-btn-large);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 15rem;
	height: 15rem;
	position: relative;
}
@media (min-width: 35em) {
	.btn-large {
		width: 24.4rem;
		height: 24.4rem;
	}
}

@media (min-width: 45em) {
	.btn-large {
		width: 27.4rem;
		height: 27.4rem;
	}
}

.btn-large::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	transition: all 0.5s ease;
	transform: scale(1);
	opacity: 0;
	background-color: hsla(var(--white), 0.2);
}

.btn-large:hover::after,
.btn-large:focus::after {
	opacity: 1;
	transform: scale(1.5);
}

/* #05-02 tabs */
.tab-list,
.dot_indicator-list,
.num_indicator-list {
	--gap: 3.2rem;
}
.tab,
.nav-tab {
	background-color: transparent;
	border: 0px;
	border-bottom: 0.3rem solid transparent;
	color: hsl(var(--accent));
	padding: var(--underline-gap, 1.6rem) 0;
	font-size: var(--fs-nav);
	letter-spacing: var(--char-sp-nav);
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.5s ease;
}

.tab.active,
.nav-tab.active {
	border-bottom-color: hsl(var(--white));
	color: hsl(var(--white));
}
.tab:hover {
	border-bottom-color: hsla(var(--white), 0.5);
}

/* #05-03 dot-indicator */

.dot-indicator {
	background-color: hsla(var(--white), 0.17);
	border: 0;
	padding: 0.6em;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.5s ease;
}

.dot-indicator.active {
	background-color: hsla(var(--white), 1);
}

.dot-indicator:hover {
	background-color: hsla(var(--white), 0.5);
}

/* #05-04 num-indicator */
.num_indicator-list {
	flex-direction: column;
}
.num-indicator {
	width: 8rem;
	height: 8rem;
	font-family: var(--ff-titles);
	font-size: var(--fs-btn-large);
	border-radius: 50%;
	background-color: transparent;
	color: hsl(var(--white));
	border: solid 2px hsla(var(--white), 0.25);
	transition: all 0.5s ease;
}

.num-indicator:hover,
.num-indicator:focus {
	border-color: hsla(var(--white), 1);
}

.num-indicator.active {
	border-color: hsla(var(--white), 1);
	background-color: hsla(var(--white), 1);
	color: hsl(var(--dark));
}

/* #05-05 Primary Navigation */
.page-header {
	justify-content: space-between;
	align-items: center;
	position: relative;
	flex-grow: 0;
}
.logo {
	margin: 2rem;
	width: 4rem;
	height: 4rem;
	flex-shrink: 0;
}
.nav-toggle {
	position: absolute;
	right: 1.2rem;
	top: 1.5rem;
	z-index: 2;
	width: 4.8rem;
	height: 4.8rem;
	background-color: transparent;
	border: 0;
	background-image: url('../assets/shared/icon-hamburger.svg');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.nav-toggle.open {
	background-image: url('../assets/shared/icon-close.svg');
}
.primary-navigation {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 30vw;
	z-index: 1;
	--underline-gap: 0.5rem;
	--gap: clamp(1.5rem, 5vw, 5rem);

	flex-direction: column;
	margin: 0;
	padding: 15vh 2rem 0 4rem;
	list-style: none;
	font-family: var(--ff-cond);
	font-size: var(--fs-nav);
	letter-spacing: var(--char-sp-nav);
	background-color: hsla(var(--dark), 0.95);
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
}

@supports (backdrop-filter: blur(1.5rem)) {
	.primary-navigation {
		background-color: hsla(var(--white), 0.05);
		backdrop-filter: blur(1.5rem);
	}
}

.primary-navigation.open {
	transform: translateX(0%);
}
.nav-tab {
	border-bottom: 0rem;
}
.primary-navigation a {
	text-decoration: none;
	color: hsla(var(--white), 1);
}

.primary-navigation span {
	margin-right: 1rem;
	font-weight: 700;
}
/* tablet version */
@media (min-width: 35em) {
	.nav-toggle {
		display: none;
	}

	.logo {
		margin: 0 clamp(2rem, 4vw, 3rem) 0;
	}
	.primary-navigation {
		position: static;
		--underline-gap: 3.2rem;
		flex-direction: row;
		justify-content: center;
		padding: 0 clamp(2rem, 9vw, 12.5rem);
		transform: translateX(0%);
	}

	.primary-navigation span {
		display: none;
	}

	.primary-navigation .nav-tab:hover,
	.primary-navigation .nav-tab:focus {
		border-bottom-color: hsla(var(--white), 0.5);
	}

	.primary-navigation .nav-tab {
		border-bottom: 0.3rem solid transparent;
	}
	.primary-navigation .nav-tab.active {
		border-bottom: 0.3rem solid hsl(var(--white));
	}
}

@media (min-width: 45em) {
	.page-header {
		padding-top: 4rem;
	}
	.page-header::after {
		content: '';
		width: 100%;
		height: 1px;
		position: relative;
		background-color: hsla(var(--white), 0.25);
		order: 1;
		margin-right: -5rem;
	}
	.page-header nav {
		order: 2;
	}
	.primary-navigation span {
		display: inline;
	}
}

.page-text {
	max-width: 50ch;
}

/* #06-01 page-specific */

.home {
	background-image: url(../assets/home/background-home-mobile.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

main {
	flex-direction: column;
	justify-content: space-around;
	flex-grow: 1;
	align-items: center;
}
@media (min-width: 35em) {
	.home {
		background-image: url(../assets/home/background-home-tablet.jpg);
		background-position: center;
	}
}

@media (min-width: 45em) {
	main {
		padding: 0 0 max(5rem, 20vh);
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
	}

	.home {
		background-image: url(../assets/home/background-home-desktop.jpg);
		background-position: center;
	}

	.page-text {
		text-align: left;
	}
}

.home h1 span {
	display: block;
}
